<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>

<body>
   <!-- Header -->
   <%- include('partials/header') %>
   <!-- /Header -->
<!-- product detail -->
<div class="container products-wrapper">
	<% if (!product) { %>
	  <h2>No existe un auto con ese id.</h2>
	<% } else { %>
  
	  <div class="d-flex align-items-center">
		<h2 class="products-title"><%= product.nombreProducto %></h2>
		<p class="product-detail-description" style="margin-left: 1rem;">
		  <a href="/product-edit/<%= product.id %>">Editar</a>
		</p>
	  </div>
  
	  <div class="product-detail">
		<div class="row">
		  <article class="col-12 col-lg-8 product-detail-info">
			<% if (product.imagenArchivo !== "") { %>
			  <img src="/images/products/<%= product.imagenArchivo %>" alt="<%= product.nombreProducto %>" class="product-detail-img">
			<% } else { %>
			  <img src="/images/products/default-image.png" alt="<%= product.nombreProducto %>" class="product-detail-img">
			<% } %>
  
			<p class="product-detail-description"><%= product.descripcion %></p>
			<p class="product-detail-description">Publicado por: <%= product.usuario.email %></p>
		  </article>
  
		  <div class="col-12 col-lg-4">
			<section class="comments">
			  <h3>Comentarios</h3>
			  <% if (product.comentarios.length === 0) { %>
				<p>No hay comentarios todavía.</p>
			  <% } else { %>
				<% for (let i = 0; i < product.comentarios.length; i++) { %>
				  <article>
					<% if (product.comentarios[i].imagenPerfil !== "") { %>
					  <img src="/images/users/<%= product.comentarios[i].imagenPerfil %>" alt="Foto de <%= product.comentarios[i].usuario.email %>">
					<% } else { %>
					  <img src="/images/users/profile-default.png" alt="Foto por defecto">
					<% } %>
					<div class="data">
					  <p class="user">
						<strong><a href="/profile/1" target="_blank"><%= product.comentarios[i].usuario.email %></a></strong>
					  </p>
					  <p><%= product.comentarios[i].textoComentario %></p>
					</div>
				  </article>
				<% } %>
			  <% } %>
			</section>
  
			<form class="form" action="/product/detalle/<%=product.id%>" method="POST">
			  <input class="form-input" type="text" name="comentario" placeholder="Agregar comentario" required>
			  <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
			</form>
			<hr>
		  </div>
		</div>
	  </div>
  
	<% } %>
  </div>
  <!-- /product detail -->
  

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->

</body>	
</html>