<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head') %>

<body>
	<!-- Header -->
	<%- include('partials/header') %>
	<!-- /Header -->
	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="formulario-box">
			<div class="col-12">
				<h2 class="products-title">Editar datos del producto</h2>
			</div>
			

		<div class="col-12">
			<% if (!product) { %>
			<h3>No se encontró el producto a editar.</h3>
			<% } else { %>
			<form action="/product/product-update/<%= product.id%>" method="POST" class="form"> 
		
				<div class="form-group">
					<label for="nombreProducto">Nombre</label>
					<p type="text" id="nombreProducto" name="nombreProducto" value="<%= product.nombreProducto %>" required ><%= product.nombreProducto %> </p>
				</div>
		
				<div class="form-group"	>
					<label for="descripcion">Descripción</label>
					<textarea id="descripcion" name="descripcion" required><%= product.descripcion %></textarea> 
				</div>
		
				<div class="form-group">
					<label for="imagen">Cambiar imagen</label>
					<% if (product.imagenArchivo && product.imagenArchivo !== "") { %>
						<input name="imagenArchivoActual" value="<%= product.imagenArchivo %>">
					<% }else{ %>
						<input type="text" id="imagen" name="imagen" value="agregue wl nombre de la imagen aqui">
					<% } %>
				</div>
					<button type="submit" class="btn-btn-primary">Guardar cambios</button>
					<a href="/product/detalle/<%= product.id %>" class="btn-btn-primary">Cancelar</button>
			</form>
			<% } %>
		</div>
	</div>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>

</html>